.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore data inputs (.csv, .pdf) and outputs (.pdf, Figures folder)
*.csv

*.pdf

Figures/

# Ignore virtual environment & other automated Python files
venv/
.idea/
